form {
    display: grid;
    margin: auto;
    width: 80%;
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
}

Input {
    height: 30px;
}

Button{
    width: 100px;
    height: 40px;
    margin-left: 80px;
}

.resultBox {
    margin: auto;
    margin-top: 20px;
    width: 70%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.none {
    display: none;
}