@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.blog-wrapper {
  width: 60%;
  margin: 10px auto;
  border: 1px solid #ccc;
  padding: 15px;
}

.blog_title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post_type {
  border: 1px solid turquoise;
  color: turquoise;
  padding: 5px 10px;
  border-radius: 20px;
}

.blog_descrription {
  background-color: rgb(168, 217, 237);
  padding: 5px;
  color: white;
  font-style: italic;
  margin-top: 0;
  border-radius: 5px;
}

.btn-content {
  margin-top: 25px;
}

.btn-edit {
  background-color: royalblue;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100px;
  padding: 10px 5px;
  margin-right: 5px;
  border-radius: 5px;
}

.btn-edit:hover {
  background-color: rgb(8, 45, 156);
}

.btn-delete {
  background-color: red;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100px;
  padding: 10px 5px;
  margin-right: 5px;
  border-radius: 5px;
}

.btn-delete:hover {
  background-color: rgb(140, 5, 5);
}

.header {
  width: 100%;
  height: 500px;
  background: url(https://images.unsplash.com/photo-1624378515195-6bbdb73dff1a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80)
    no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
}

/* Style Add blog */
.form_add {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.form-input {
  display: flex;
  flex-direction: column;
}

input,
textarea,
select {
  width: 500px;
}

textarea {
  resize: none;
  height: 200px;
}

input.error,
textarea.error {
  border: 1px solid red;
}

.add_btn {
  padding: 10px 15px;
  background-color: seagreen;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.add_btn:hover {
  background-color: rgb(19, 95, 52);
}

.update_btn {
  padding: 10px 15px;
  background-color: royalblue;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.update_btn:hover {
  background-color: rgb(15, 46, 139);
}

.errortext {
  color: red;
  font-size: 14px;
  margin: 2px 0;
}
