nav {
  color: white;
  font-family: sans-serif;
  background-color: orange;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}

li {
  list-style: none;
}

ul li button {
  background-color: green;
  color: white;
  border: none;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

ul li button:hover {
  background-color: rgb(14, 83, 14);
}

ul li a {
  color: white;
  text-decoration: none;
}
