@import url("https://fonts.googleapis.com/css2?family=Fasthand&display=swap");

h1 {
  font-family: "Fasthand", cursive;
  font-size: 1.6em;
}

nav {
  color: white;
  font-family: sans-serif;
  background-color: orange;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  font-family: "Poppins", sans-serif;
}

ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}

li {
  list-style: none;
}

ul li button {
  background-color: green;
  color: white;
  border: none;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

ul li button:hover {
  background-color: rgb(14, 83, 14);
}

ul li a {
  color: white;
  text-decoration: none;
}
